.CurrentWeather {
  margin: 20px auto;
  width: 50%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 5px;
  box-sizing: border-box;

}

.CurrentWeather p {
 font-size: 18px;
}

.imgCurrentWeather {
  width: 25%;
  height: 20%;
  margin: 5px;
}
