.Form {
text-align: center;
}

input {
  box-sizing: border-box;
  width: 200px;
  padding: 10px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.Button {
  width: 80px;
}

@media (max-width: 600px) {
  input {
    width: 50%;
  }
  .Button {
    width: 35%;
  }
}
